<div class="mt-5">
    <form method="POST" >
        <div class="mb-3">
            <label for="search-input" class="form-label">Email address</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" >
        </div>
        <button type="submit" name="" class="btn btn-primary">Submit</button>
    </form>
</div>